<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Pizza Online</title>
</head>
<body>
	<div th:replace="~{fragments/header :: header}">...</div>

	<main class="container text-center">

		<div class="row">
			<h1>MODIFIER LE PRODUIT</h1>

			<div class="row my-5">
				<form action="#" method="POST"
					th:action="@{/modifierProduit/{id}(id=${produit.id})}"
					th:object="${produit}">
					<div class="col-8 offset-2">

						<div class="mb-3">
							<label for="nom" class="form-label">Nom</label> <input
								type="text" class="form-control" id="nom" th:field="*{nom}">
							<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
						</div>

						<div class="mb-3">
							<label for="description" class="form-label">Description</label>
							<textarea class="form-control" id="description"
								th:field="*{description}"></textarea>
							<span th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}"></span>
						</div>

						<div class="mb-3">
							<label for="prix" class="form-label">Prix</label> <input
								type="number" class="form-control" id="nom" th:field="*{prix}">
							<span th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}"></span>
						</div>

						<button class="btn btn-dark" type="submit">Valider</button>
					</div>
				</form>

			</div>
		</div>

	</main>

	<div th:replace="~{fragments/footer :: footer}">...</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>
</html>